In [56]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy

In [57]:
df = pd.read_csv('MiningProcess_Flotation_Plant_Database_hour.csv')
df.set_index('date', inplace=True)

In [58]:
df.head(1)

,% Iron Feed,% Silica Feed,Starch Flow,Amina Flow,Ore Pulp Flow,Ore Pulp pH,Ore Pulp Density,p-Flotation Column 01 Air Flow,p-Flotation Column 02 Air Flow,p-Flotation Column 03 Air Flow,...,p-Flotation Column 07 Air Flow,p-Flotation Column 01 Level,p-Flotation Column 02 Level,p-Flotation Column 03 Level,p-Flotation Column 04 Level,p-Flotation Column 05 Level,p-Flotation Column 06 Level,p-Flotation Column 07 Level,% Iron Concentrate,% Silica Concentrate
date,,,,,,,,,,,,,,,,,,,,,
2017-03-10 01:00:00,55.2,16.98,3162.625026,578.786678,398.753368,10.113487,1.729558,251.166672,250.226086,250.178287,...,250.208184,450.383776,446.891845,450.474523,449.912259,455.792161,464.38331,450.532747,66.91,1.31

In [4]:
df.isnull().values.any()

False

In [36]:
df['2017-05-13':'2017-06-16']

,% Iron Feed,% Silica Feed,Starch Flow,Amina Flow,Ore Pulp Flow,Ore Pulp pH,Ore Pulp Density,p-Flotation Column 01 Air Flow,p-Flotation Column 02 Air Flow,p-Flotation Column 03 Air Flow,...,p-Flotation Column 07 Air Flow,p-Flotation Column 01 Level,p-Flotation Column 02 Level,p-Flotation Column 03 Level,p-Flotation Column 04 Level,p-Flotation Column 05 Level,p-Flotation Column 06 Level,p-Flotation Column 07 Level,% Iron Concentrate,% Silica Concentrate
date,,,,,,,,,,,,,,,,,,,,,
2017-05-13 00:00:00,52.61,20.24,3202.059083,454.404528,399.729739,9.475585,1.616665,250.076522,249.670900,250.091044,...,299.814061,450.979328,449.135000,449.082017,348.145194,349.260856,350.513578,349.591767,65.85,1.64
2017-05-13 01:00:00,64.03,6.26,3207.523768,513.508644,401.377123,9.620100,1.645518,250.047289,250.371383,250.061089,...,299.819772,449.630206,449.147122,448.561467,347.631200,348.253567,349.384578,349.724050,65.63,1.54
2017-05-13 02:00:00,64.03,6.26,3474.903950,536.014606,403.253225,9.904957,1.656463,250.074756,250.190417,250.055022,...,300.484517,449.553744,449.746572,449.179939,351.019133,349.886267,349.710372,350.392794,65.21,1.17
2017-05-13 03:00:00,64.03,6.26,3810.584083,571.596900,404.860756,9.831685,1.693333,250.125122,250.510078,250.021394,...,299.822589,450.472739,449.533517,449.132594,349.684483,350.391200,351.444756,349.439178,65.47,1.55
2017-05-13 04:00:00,64.03,6.26,4039.207153,593.966956,406.468287,9.706283,1.710168,250.016228,249.696600,249.954317,...,299.829922,450.508250,449.530228,447.704189,346.977144,348.899133,349.465978,346.501139,64.90,1.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-06-15 19:00:00,64.48,3.85,3111.481194,523.875081,401.258150,9.763799,1.660219,299.895311,300.924017,299.953083,...,300.075244,438.556089,442.216792,477.531444,400.090894,400.494500,400.412150,401.481661,65.44,1.80
2017-06-15 20:00:00,64.48,3.85,3063.108703,526.868594,400.016611,9.837558,1.641323,300.007006,300.552233,299.943717,...,299.978517,399.549867,399.319011,399.791394,401.097000,398.208322,400.252772,398.419217,65.39,2.28
2017-06-15 21:00:00,64.48,3.85,2870.931219,576.052283,400.131800,9.627432,1.699764,299.759633,300.293517,299.888544,...,300.128078,400.850772,397.472222,399.934594,399.515811,399.428456,400.114639,399.526094,65.41,1.65
2017-06-15 22:00:00,64.48,3.85,2961.583122,514.153483,399.895228,9.609053,1.626067,299.877433,300.173911,299.837961,...,300.168472,400.322822,396.215011,399.578017,399.191078,399.108339,399.998206,400.499000,65.40,1.79
2017-06-15 23:00:00,64.48,3.85,2549.160516,556.603794,399.712917,9.662518,1.675274,299.926561,299.938144,300.024778,...,300.139133,400.189589,395.727172,400.353611,400.561033,401.677428,401.592528,400.885067,65.51,1.73

In [30]:
sep_date1 = "2017-05-13 01:00:00"
sep_date2 = "2017-06-15 00:00:00"
ind_date = np.all(sep_date1<df.index , df.index<sep_date2 ) #boolean of earlier dates
df.drop(df.index[ind_date],inplace=True)
df.head(1)

TypeError: only integer scalar arrays can be converted to a scalar index

In [46]:
   # df.drop (["2017-05-13 01:00:00","2017-06-15 00:00:00"],inplace=True)
df.drop(["2017-05-13 01:00:00/2017-06-15 00:00:00"],inplace=True)

KeyError: "['2017-05-13 01:00:00/2017-06-15 00:00:00'] not found in axis"

In [115]:
df['2017-05-13':'2017-06-16']

Empty DataFrame
Columns: [% Iron Feed, % Silica Feed, Starch Flow, Amina Flow, Ore Pulp Flow, Ore Pulp pH, Ore Pulp Density, p-Flotation Column 01 Air Flow, p-Flotation Column 02 Air Flow, p-Flotation Column 03 Air Flow, p-Flotation Column 04 Air Flow, p-Flotation Column 05 Air Flow, p-Flotation Column 06 Air Flow, p-Flotation Column 07 Air Flow, p-Flotation Column 01 Level, p-Flotation Column 02 Level, p-Flotation Column 03 Level, p-Flotation Column 04 Level, p-Flotation Column 05 Level, p-Flotation Column 06 Level, p-Flotation Column 07 Level, % Iron Concentrate, % Silica Concentrate]
Index: []

[0 rows x 23 columns]

In [113]:
pd.date_range('2017-05-13 24:00:00', '2017-06-16 00:00:00')

ValueError: could not convert string to Timestamp

In [53]:
df.drop(df.index['2017-05-13 01:00:00':'2017-06-16 00:00:00'],inplace=True)

TypeError: slice indices must be integers or None or have an __index__ method

In [114]:
df.drop(['2017-05-13 23:00:00', '2017-05-14 23:00:00',
               '2017-05-15 23:00:00', '2017-05-16 23:00:00',
               '2017-05-17 23:00:00', '2017-05-18 23:00:00',
               '2017-05-19 23:00:00', '2017-05-20 23:00:00',
               '2017-05-21 23:00:00', '2017-05-22 23:00:00',
               '2017-05-23 23:00:00', '2017-05-24 23:00:00',
               '2017-05-25 23:00:00', '2017-05-26 23:00:00',
               '2017-05-27 23:00:00', '2017-05-28 23:00:00',
               '2017-05-29 23:00:00', '2017-05-30 23:00:00',
               '2017-05-31 23:00:00', '2017-06-01 23:00:00',
               '2017-06-02 23:00:00', '2017-06-03 23:00:00',
               '2017-06-04 23:00:00', '2017-06-05 23:00:00',
               '2017-06-06 23:00:00', '2017-06-07 23:00:00',
               '2017-06-08 23:00:00', '2017-06-09 23:00:00',
               '2017-06-10 23:00:00', '2017-06-11 23:00:00',
               '2017-06-12 23:00:00', '2017-06-13 23:00:00',
               '2017-06-14 23:00:00', '2017-06-15 23:00:00'],inplace=True)

KeyError: "['2017-05-13 23:00:00' '2017-05-14 23:00:00' '2017-05-15 23:00:00'\n '2017-05-16 23:00:00' '2017-05-17 23:00:00' '2017-05-18 23:00:00'\n '2017-05-19 23:00:00' '2017-05-20 23:00:00' '2017-05-21 23:00:00'\n '2017-05-22 23:00:00' '2017-05-23 23:00:00' '2017-05-24 23:00:00'\n '2017-05-25 23:00:00' '2017-05-26 23:00:00' '2017-05-27 23:00:00'\n '2017-05-28 23:00:00' '2017-05-29 23:00:00' '2017-05-30 23:00:00'\n '2017-05-31 23:00:00' '2017-06-01 23:00:00' '2017-06-02 23:00:00'\n '2017-06-03 23:00:00' '2017-06-04 23:00:00' '2017-06-05 23:00:00'\n '2017-06-06 23:00:00' '2017-06-07 23:00:00' '2017-06-08 23:00:00'\n '2017-06-09 23:00:00' '2017-06-10 23:00:00' '2017-06-11 23:00:00'\n '2017-06-12 23:00:00' '2017-06-13 23:00:00' '2017-06-14 23:00:00'\n '2017-06-15 23:00:00'] not found in axis"

In [116]:
df

,% Iron Feed,% Silica Feed,Starch Flow,Amina Flow,Ore Pulp Flow,Ore Pulp pH,Ore Pulp Density,p-Flotation Column 01 Air Flow,p-Flotation Column 02 Air Flow,p-Flotation Column 03 Air Flow,...,p-Flotation Column 07 Air Flow,p-Flotation Column 01 Level,p-Flotation Column 02 Level,p-Flotation Column 03 Level,p-Flotation Column 04 Level,p-Flotation Column 05 Level,p-Flotation Column 06 Level,p-Flotation Column 07 Level,% Iron Concentrate,% Silica Concentrate
date,,,,,,,,,,,,,,,,,,,,,
2017-03-10 01:00:00,55.20,16.98,3162.625026,578.786678,398.753368,10.113487,1.729558,251.166672,250.226086,250.178287,...,250.208184,450.383776,446.891845,450.474523,449.912259,455.792161,464.383310,450.532747,66.91,1.31
2017-03-10 02:00:00,55.20,16.98,3133.256389,537.219661,399.871822,10.129742,1.667784,249.880589,250.214050,250.033317,...,249.897572,449.373361,450.249356,450.081222,450.328806,448.722983,455.501528,451.387700,67.06,1.11
2017-03-10 03:00:00,55.20,16.98,3479.482944,591.906744,398.763806,10.048403,1.732711,250.161328,250.104167,250.046350,...,250.484183,449.972878,450.868711,450.901822,451.145822,451.134189,459.981311,450.296722,66.97,1.27
2017-03-10 04:00:00,55.20,16.98,3228.036436,593.170106,399.866983,9.918614,1.731056,250.208772,250.204761,250.120861,...,250.157622,487.940706,491.462111,487.387206,494.528183,495.664011,502.763850,494.939889,66.75,1.36
2017-03-10 05:00:00,55.20,16.98,3327.280739,619.710806,399.615089,9.746029,1.765879,249.917800,250.160494,250.013500,...,250.078639,549.031539,549.983156,549.459572,549.975483,549.512533,560.696300,550.271772,66.63,1.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-09-09 19:00:00,49.75,23.20,3327.047776,497.211189,380.847200,9.176166,1.660871,301.565561,300.169133,299.900722,...,298.736661,397.781583,498.753311,403.858956,398.930467,502.971728,399.468911,400.559511,65.05,1.65
2017-09-09 20:00:00,49.75,23.20,4225.800333,508.963856,381.112889,9.387541,1.691996,300.050172,299.967839,299.906550,...,303.599269,399.928567,499.648950,399.208611,399.967122,501.624533,398.905006,400.486233,64.83,1.71
2017-09-09 21:00:00,49.75,23.20,2808.214692,517.748822,381.064411,9.771277,1.735647,299.814289,299.801561,299.973161,...,309.875439,399.961433,500.484917,471.827489,399.931033,500.223311,401.899806,400.556333,64.29,1.80
2017-09-09 22:00:00,49.75,23.20,3191.497672,492.511228,380.445006,9.782121,1.716644,300.122756,299.679472,299.927028,...,305.254558,399.601383,498.614494,836.277192,400.455389,500.406239,402.703283,401.769072,64.25,1.96
2017-09-09 23:00:00,49.75,23.20,3638.543653,460.769950,380.823147,9.653802,1.667825,299.778889,300.095394,299.840833,...,315.264733,400.026289,499.721794,868.549247,398.764744,500.682167,399.375644,398.775261,64.27,1.71

In [117]:
df.to_csv('myDataFrame.csv')